/*
Immich

Immich API

API version: 3.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package immich

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type PluginsAPI interface {

	/*
	GetPlugin Retrieve a plugin

	Retrieve information about a specific plugin by its ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetPluginRequest
	*/
	GetPlugin(ctx context.Context, id string) ApiGetPluginRequest

	// GetPluginExecute executes the request
	//  @return PluginResponseDto
	GetPluginExecute(r ApiGetPluginRequest) (*PluginResponseDto, *http.Response, error)

	/*
	SearchPluginMethods Retrieve plugin methods

	Retrieve a list of plugin methods

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchPluginMethodsRequest
	*/
	SearchPluginMethods(ctx context.Context) ApiSearchPluginMethodsRequest

	// SearchPluginMethodsExecute executes the request
	//  @return []PluginMethodResponseDto
	SearchPluginMethodsExecute(r ApiSearchPluginMethodsRequest) ([]PluginMethodResponseDto, *http.Response, error)

	/*
	SearchPlugins List all plugins

	Retrieve a list of plugins available to the authenticated user.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchPluginsRequest
	*/
	SearchPlugins(ctx context.Context) ApiSearchPluginsRequest

	// SearchPluginsExecute executes the request
	//  @return []PluginResponseDto
	SearchPluginsExecute(r ApiSearchPluginsRequest) ([]PluginResponseDto, *http.Response, error)
}

// PluginsAPIService PluginsAPI service
type PluginsAPIService service

type ApiGetPluginRequest struct {
	ctx context.Context
	ApiService PluginsAPI
	id string
}

func (r ApiGetPluginRequest) Execute() (*PluginResponseDto, *http.Response, error) {
	return r.ApiService.GetPluginExecute(r)
}

/*
GetPlugin Retrieve a plugin

Retrieve information about a specific plugin by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetPluginRequest
*/
func (a *PluginsAPIService) GetPlugin(ctx context.Context, id string) ApiGetPluginRequest {
	return ApiGetPluginRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PluginResponseDto
func (a *PluginsAPIService) GetPluginExecute(r ApiGetPluginRequest) (*PluginResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PluginResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginsAPIService.GetPlugin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/plugins/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchPluginMethodsRequest struct {
	ctx context.Context
	ApiService PluginsAPI
	description *string
	enabled *bool
	id *string
	name *string
	pluginName *string
	pluginVersion *string
	title *string
	trigger *WorkflowTrigger
	type_ *WorkflowType
}

func (r ApiSearchPluginMethodsRequest) Description(description string) ApiSearchPluginMethodsRequest {
	r.description = &description
	return r
}

// Whether the plugin method is enabled
func (r ApiSearchPluginMethodsRequest) Enabled(enabled bool) ApiSearchPluginMethodsRequest {
	r.enabled = &enabled
	return r
}

// Plugin method ID
func (r ApiSearchPluginMethodsRequest) Id(id string) ApiSearchPluginMethodsRequest {
	r.id = &id
	return r
}

func (r ApiSearchPluginMethodsRequest) Name(name string) ApiSearchPluginMethodsRequest {
	r.name = &name
	return r
}

// Plugin name
func (r ApiSearchPluginMethodsRequest) PluginName(pluginName string) ApiSearchPluginMethodsRequest {
	r.pluginName = &pluginName
	return r
}

// Plugin version
func (r ApiSearchPluginMethodsRequest) PluginVersion(pluginVersion string) ApiSearchPluginMethodsRequest {
	r.pluginVersion = &pluginVersion
	return r
}

func (r ApiSearchPluginMethodsRequest) Title(title string) ApiSearchPluginMethodsRequest {
	r.title = &title
	return r
}

// Workflow trigger
func (r ApiSearchPluginMethodsRequest) Trigger(trigger WorkflowTrigger) ApiSearchPluginMethodsRequest {
	r.trigger = &trigger
	return r
}

// Workflow types
func (r ApiSearchPluginMethodsRequest) Type_(type_ WorkflowType) ApiSearchPluginMethodsRequest {
	r.type_ = &type_
	return r
}

func (r ApiSearchPluginMethodsRequest) Execute() ([]PluginMethodResponseDto, *http.Response, error) {
	return r.ApiService.SearchPluginMethodsExecute(r)
}

/*
SearchPluginMethods Retrieve plugin methods

Retrieve a list of plugin methods

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchPluginMethodsRequest
*/
func (a *PluginsAPIService) SearchPluginMethods(ctx context.Context) ApiSearchPluginMethodsRequest {
	return ApiSearchPluginMethodsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PluginMethodResponseDto
func (a *PluginsAPIService) SearchPluginMethodsExecute(r ApiSearchPluginMethodsRequest) ([]PluginMethodResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PluginMethodResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginsAPIService.SearchPluginMethods")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/plugins/methods"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.enabled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enabled", r.enabled, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.pluginName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pluginName", r.pluginName, "form", "")
	}
	if r.pluginVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pluginVersion", r.pluginVersion, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.trigger != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trigger", r.trigger, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchPluginsRequest struct {
	ctx context.Context
	ApiService PluginsAPI
	description *string
	enabled *bool
	id *string
	name *string
	title *string
	version *string
}

func (r ApiSearchPluginsRequest) Description(description string) ApiSearchPluginsRequest {
	r.description = &description
	return r
}

// Whether the plugin is enabled
func (r ApiSearchPluginsRequest) Enabled(enabled bool) ApiSearchPluginsRequest {
	r.enabled = &enabled
	return r
}

// Plugin ID
func (r ApiSearchPluginsRequest) Id(id string) ApiSearchPluginsRequest {
	r.id = &id
	return r
}

func (r ApiSearchPluginsRequest) Name(name string) ApiSearchPluginsRequest {
	r.name = &name
	return r
}

func (r ApiSearchPluginsRequest) Title(title string) ApiSearchPluginsRequest {
	r.title = &title
	return r
}

func (r ApiSearchPluginsRequest) Version(version string) ApiSearchPluginsRequest {
	r.version = &version
	return r
}

func (r ApiSearchPluginsRequest) Execute() ([]PluginResponseDto, *http.Response, error) {
	return r.ApiService.SearchPluginsExecute(r)
}

/*
SearchPlugins List all plugins

Retrieve a list of plugins available to the authenticated user.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchPluginsRequest
*/
func (a *PluginsAPIService) SearchPlugins(ctx context.Context) ApiSearchPluginsRequest {
	return ApiSearchPluginsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PluginResponseDto
func (a *PluginsAPIService) SearchPluginsExecute(r ApiSearchPluginsRequest) ([]PluginResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PluginResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PluginsAPIService.SearchPlugins")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/plugins"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.enabled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enabled", r.enabled, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.title != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "title", r.title, "form", "")
	}
	if r.version != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "version", r.version, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
