/*
Immich

Immich API

API version: 2.7.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package immich

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
	"reflect"
)


type SearchAPI interface {

	/*
	GetAssetsByCity Retrieve assets by city

	Retrieve a list of assets with each asset belonging to a different city. This endpoint is used on the places pages to show a single thumbnail for each city the user has assets in.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAssetsByCityRequest
	*/
	GetAssetsByCity(ctx context.Context) ApiGetAssetsByCityRequest

	// GetAssetsByCityExecute executes the request
	//  @return []AssetResponseDto
	GetAssetsByCityExecute(r ApiGetAssetsByCityRequest) ([]AssetResponseDto, *http.Response, error)

	/*
	GetExploreData Retrieve explore data

	Retrieve data for the explore section, such as popular people and places.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetExploreDataRequest
	*/
	GetExploreData(ctx context.Context) ApiGetExploreDataRequest

	// GetExploreDataExecute executes the request
	//  @return []SearchExploreResponseDto
	GetExploreDataExecute(r ApiGetExploreDataRequest) ([]SearchExploreResponseDto, *http.Response, error)

	/*
	GetSearchSuggestions Retrieve search suggestions

	Retrieve search suggestions based on partial input. This endpoint is used for typeahead search features.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetSearchSuggestionsRequest
	*/
	GetSearchSuggestions(ctx context.Context) ApiGetSearchSuggestionsRequest

	// GetSearchSuggestionsExecute executes the request
	//  @return []string
	GetSearchSuggestionsExecute(r ApiGetSearchSuggestionsRequest) ([]string, *http.Response, error)

	/*
	SearchAssetStatistics Search asset statistics

	Retrieve statistical data about assets based on search criteria, such as the total matching count.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchAssetStatisticsRequest
	*/
	SearchAssetStatistics(ctx context.Context) ApiSearchAssetStatisticsRequest

	// SearchAssetStatisticsExecute executes the request
	//  @return SearchStatisticsResponseDto
	SearchAssetStatisticsExecute(r ApiSearchAssetStatisticsRequest) (*SearchStatisticsResponseDto, *http.Response, error)

	/*
	SearchAssets Search assets by metadata

	Search for assets based on various metadata criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchAssetsRequest
	*/
	SearchAssets(ctx context.Context) ApiSearchAssetsRequest

	// SearchAssetsExecute executes the request
	//  @return SearchResponseDto
	SearchAssetsExecute(r ApiSearchAssetsRequest) (*SearchResponseDto, *http.Response, error)

	/*
	SearchLargeAssets Search large assets

	Search for assets that are considered large based on specified criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchLargeAssetsRequest
	*/
	SearchLargeAssets(ctx context.Context) ApiSearchLargeAssetsRequest

	// SearchLargeAssetsExecute executes the request
	//  @return []AssetResponseDto
	SearchLargeAssetsExecute(r ApiSearchLargeAssetsRequest) ([]AssetResponseDto, *http.Response, error)

	/*
	SearchPerson Search people

	Search for people by name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchPersonRequest
	*/
	SearchPerson(ctx context.Context) ApiSearchPersonRequest

	// SearchPersonExecute executes the request
	//  @return []PersonResponseDto
	SearchPersonExecute(r ApiSearchPersonRequest) ([]PersonResponseDto, *http.Response, error)

	/*
	SearchPlaces Search places

	Search for places by name.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchPlacesRequest
	*/
	SearchPlaces(ctx context.Context) ApiSearchPlacesRequest

	// SearchPlacesExecute executes the request
	//  @return []PlacesResponseDto
	SearchPlacesExecute(r ApiSearchPlacesRequest) ([]PlacesResponseDto, *http.Response, error)

	/*
	SearchRandom Search random assets

	Retrieve a random selection of assets based on the provided criteria.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchRandomRequest
	*/
	SearchRandom(ctx context.Context) ApiSearchRandomRequest

	// SearchRandomExecute executes the request
	//  @return []AssetResponseDto
	SearchRandomExecute(r ApiSearchRandomRequest) ([]AssetResponseDto, *http.Response, error)

	/*
	SearchSmart Smart asset search

	Perform a smart search for assets by using machine learning vectors to determine relevance.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchSmartRequest
	*/
	SearchSmart(ctx context.Context) ApiSearchSmartRequest

	// SearchSmartExecute executes the request
	//  @return SearchResponseDto
	SearchSmartExecute(r ApiSearchSmartRequest) (*SearchResponseDto, *http.Response, error)
}

// SearchAPIService SearchAPI service
type SearchAPIService service

type ApiGetAssetsByCityRequest struct {
	ctx context.Context
	ApiService SearchAPI
}

func (r ApiGetAssetsByCityRequest) Execute() ([]AssetResponseDto, *http.Response, error) {
	return r.ApiService.GetAssetsByCityExecute(r)
}

/*
GetAssetsByCity Retrieve assets by city

Retrieve a list of assets with each asset belonging to a different city. This endpoint is used on the places pages to show a single thumbnail for each city the user has assets in.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAssetsByCityRequest
*/
func (a *SearchAPIService) GetAssetsByCity(ctx context.Context) ApiGetAssetsByCityRequest {
	return ApiGetAssetsByCityRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AssetResponseDto
func (a *SearchAPIService) GetAssetsByCityExecute(r ApiGetAssetsByCityRequest) ([]AssetResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AssetResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.GetAssetsByCity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/cities"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetExploreDataRequest struct {
	ctx context.Context
	ApiService SearchAPI
}

func (r ApiGetExploreDataRequest) Execute() ([]SearchExploreResponseDto, *http.Response, error) {
	return r.ApiService.GetExploreDataExecute(r)
}

/*
GetExploreData Retrieve explore data

Retrieve data for the explore section, such as popular people and places.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetExploreDataRequest
*/
func (a *SearchAPIService) GetExploreData(ctx context.Context) ApiGetExploreDataRequest {
	return ApiGetExploreDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SearchExploreResponseDto
func (a *SearchAPIService) GetExploreDataExecute(r ApiGetExploreDataRequest) ([]SearchExploreResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SearchExploreResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.GetExploreData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/explore"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSearchSuggestionsRequest struct {
	ctx context.Context
	ApiService SearchAPI
	type_ *SearchSuggestionType
	country *string
	includeNull *bool
	lensModel *string
	make *string
	model *string
	state *string
}

func (r ApiGetSearchSuggestionsRequest) Type_(type_ SearchSuggestionType) ApiGetSearchSuggestionsRequest {
	r.type_ = &type_
	return r
}

// Filter by country
func (r ApiGetSearchSuggestionsRequest) Country(country string) ApiGetSearchSuggestionsRequest {
	r.country = &country
	return r
}

// Include null values in suggestions
func (r ApiGetSearchSuggestionsRequest) IncludeNull(includeNull bool) ApiGetSearchSuggestionsRequest {
	r.includeNull = &includeNull
	return r
}

// Filter by lens model
func (r ApiGetSearchSuggestionsRequest) LensModel(lensModel string) ApiGetSearchSuggestionsRequest {
	r.lensModel = &lensModel
	return r
}

// Filter by camera make
func (r ApiGetSearchSuggestionsRequest) Make(make string) ApiGetSearchSuggestionsRequest {
	r.make = &make
	return r
}

// Filter by camera model
func (r ApiGetSearchSuggestionsRequest) Model(model string) ApiGetSearchSuggestionsRequest {
	r.model = &model
	return r
}

// Filter by state/province
func (r ApiGetSearchSuggestionsRequest) State(state string) ApiGetSearchSuggestionsRequest {
	r.state = &state
	return r
}

func (r ApiGetSearchSuggestionsRequest) Execute() ([]string, *http.Response, error) {
	return r.ApiService.GetSearchSuggestionsExecute(r)
}

/*
GetSearchSuggestions Retrieve search suggestions

Retrieve search suggestions based on partial input. This endpoint is used for typeahead search features.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetSearchSuggestionsRequest
*/
func (a *SearchAPIService) GetSearchSuggestions(ctx context.Context) ApiGetSearchSuggestionsRequest {
	return ApiGetSearchSuggestionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []string
func (a *SearchAPIService) GetSearchSuggestionsExecute(r ApiGetSearchSuggestionsRequest) ([]string, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []string
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.GetSearchSuggestions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/suggestions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.type_ == nil {
		return localVarReturnValue, nil, reportError("type_ is required and must be specified")
	}

	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.includeNull != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeNull", r.includeNull, "form", "")
	}
	if r.lensModel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lensModel", r.lensModel, "form", "")
	}
	if r.make != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "make", r.make, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchAssetStatisticsRequest struct {
	ctx context.Context
	ApiService SearchAPI
	statisticsSearchDto *StatisticsSearchDto
}

func (r ApiSearchAssetStatisticsRequest) StatisticsSearchDto(statisticsSearchDto StatisticsSearchDto) ApiSearchAssetStatisticsRequest {
	r.statisticsSearchDto = &statisticsSearchDto
	return r
}

func (r ApiSearchAssetStatisticsRequest) Execute() (*SearchStatisticsResponseDto, *http.Response, error) {
	return r.ApiService.SearchAssetStatisticsExecute(r)
}

/*
SearchAssetStatistics Search asset statistics

Retrieve statistical data about assets based on search criteria, such as the total matching count.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchAssetStatisticsRequest
*/
func (a *SearchAPIService) SearchAssetStatistics(ctx context.Context) ApiSearchAssetStatisticsRequest {
	return ApiSearchAssetStatisticsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchStatisticsResponseDto
func (a *SearchAPIService) SearchAssetStatisticsExecute(r ApiSearchAssetStatisticsRequest) (*SearchStatisticsResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchStatisticsResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchAssetStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/statistics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.statisticsSearchDto == nil {
		return localVarReturnValue, nil, reportError("statisticsSearchDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.statisticsSearchDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchAssetsRequest struct {
	ctx context.Context
	ApiService SearchAPI
	metadataSearchDto *MetadataSearchDto
}

func (r ApiSearchAssetsRequest) MetadataSearchDto(metadataSearchDto MetadataSearchDto) ApiSearchAssetsRequest {
	r.metadataSearchDto = &metadataSearchDto
	return r
}

func (r ApiSearchAssetsRequest) Execute() (*SearchResponseDto, *http.Response, error) {
	return r.ApiService.SearchAssetsExecute(r)
}

/*
SearchAssets Search assets by metadata

Search for assets based on various metadata criteria.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchAssetsRequest
*/
func (a *SearchAPIService) SearchAssets(ctx context.Context) ApiSearchAssetsRequest {
	return ApiSearchAssetsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchResponseDto
func (a *SearchAPIService) SearchAssetsExecute(r ApiSearchAssetsRequest) (*SearchResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/metadata"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.metadataSearchDto == nil {
		return localVarReturnValue, nil, reportError("metadataSearchDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.metadataSearchDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchLargeAssetsRequest struct {
	ctx context.Context
	ApiService SearchAPI
	albumIds *[]string
	city *string
	country *string
	createdAfter *time.Time
	createdBefore *time.Time
	isEncoded *bool
	isFavorite *bool
	isMotion *bool
	isNotInAlbum *bool
	isOffline *bool
	lensModel *string
	libraryId *string
	make *string
	minFileSize *int32
	model *string
	ocr *string
	personIds *[]string
	rating *float32
	size *float32
	state *string
	tagIds *[]string
	takenAfter *time.Time
	takenBefore *time.Time
	trashedAfter *time.Time
	trashedBefore *time.Time
	type_ *AssetTypeEnum
	updatedAfter *time.Time
	updatedBefore *time.Time
	visibility *AssetVisibility
	withDeleted *bool
	withExif *bool
}

// Filter by album IDs
func (r ApiSearchLargeAssetsRequest) AlbumIds(albumIds []string) ApiSearchLargeAssetsRequest {
	r.albumIds = &albumIds
	return r
}

// Filter by city name
func (r ApiSearchLargeAssetsRequest) City(city string) ApiSearchLargeAssetsRequest {
	r.city = &city
	return r
}

// Filter by country name
func (r ApiSearchLargeAssetsRequest) Country(country string) ApiSearchLargeAssetsRequest {
	r.country = &country
	return r
}

// Filter by creation date (after)
func (r ApiSearchLargeAssetsRequest) CreatedAfter(createdAfter time.Time) ApiSearchLargeAssetsRequest {
	r.createdAfter = &createdAfter
	return r
}

// Filter by creation date (before)
func (r ApiSearchLargeAssetsRequest) CreatedBefore(createdBefore time.Time) ApiSearchLargeAssetsRequest {
	r.createdBefore = &createdBefore
	return r
}

// Filter by encoded status
func (r ApiSearchLargeAssetsRequest) IsEncoded(isEncoded bool) ApiSearchLargeAssetsRequest {
	r.isEncoded = &isEncoded
	return r
}

// Filter by favorite status
func (r ApiSearchLargeAssetsRequest) IsFavorite(isFavorite bool) ApiSearchLargeAssetsRequest {
	r.isFavorite = &isFavorite
	return r
}

// Filter by motion photo status
func (r ApiSearchLargeAssetsRequest) IsMotion(isMotion bool) ApiSearchLargeAssetsRequest {
	r.isMotion = &isMotion
	return r
}

// Filter assets not in any album
func (r ApiSearchLargeAssetsRequest) IsNotInAlbum(isNotInAlbum bool) ApiSearchLargeAssetsRequest {
	r.isNotInAlbum = &isNotInAlbum
	return r
}

// Filter by offline status
func (r ApiSearchLargeAssetsRequest) IsOffline(isOffline bool) ApiSearchLargeAssetsRequest {
	r.isOffline = &isOffline
	return r
}

// Filter by lens model
func (r ApiSearchLargeAssetsRequest) LensModel(lensModel string) ApiSearchLargeAssetsRequest {
	r.lensModel = &lensModel
	return r
}

// Library ID to filter by
func (r ApiSearchLargeAssetsRequest) LibraryId(libraryId string) ApiSearchLargeAssetsRequest {
	r.libraryId = &libraryId
	return r
}

// Filter by camera make
func (r ApiSearchLargeAssetsRequest) Make(make string) ApiSearchLargeAssetsRequest {
	r.make = &make
	return r
}

// Minimum file size in bytes
func (r ApiSearchLargeAssetsRequest) MinFileSize(minFileSize int32) ApiSearchLargeAssetsRequest {
	r.minFileSize = &minFileSize
	return r
}

// Filter by camera model
func (r ApiSearchLargeAssetsRequest) Model(model string) ApiSearchLargeAssetsRequest {
	r.model = &model
	return r
}

// Filter by OCR text content
func (r ApiSearchLargeAssetsRequest) Ocr(ocr string) ApiSearchLargeAssetsRequest {
	r.ocr = &ocr
	return r
}

// Filter by person IDs
func (r ApiSearchLargeAssetsRequest) PersonIds(personIds []string) ApiSearchLargeAssetsRequest {
	r.personIds = &personIds
	return r
}

// Filter by rating [1-5], or null for unrated
func (r ApiSearchLargeAssetsRequest) Rating(rating float32) ApiSearchLargeAssetsRequest {
	r.rating = &rating
	return r
}

// Number of results to return
func (r ApiSearchLargeAssetsRequest) Size(size float32) ApiSearchLargeAssetsRequest {
	r.size = &size
	return r
}

// Filter by state/province name
func (r ApiSearchLargeAssetsRequest) State(state string) ApiSearchLargeAssetsRequest {
	r.state = &state
	return r
}

// Filter by tag IDs
func (r ApiSearchLargeAssetsRequest) TagIds(tagIds []string) ApiSearchLargeAssetsRequest {
	r.tagIds = &tagIds
	return r
}

// Filter by taken date (after)
func (r ApiSearchLargeAssetsRequest) TakenAfter(takenAfter time.Time) ApiSearchLargeAssetsRequest {
	r.takenAfter = &takenAfter
	return r
}

// Filter by taken date (before)
func (r ApiSearchLargeAssetsRequest) TakenBefore(takenBefore time.Time) ApiSearchLargeAssetsRequest {
	r.takenBefore = &takenBefore
	return r
}

// Filter by trash date (after)
func (r ApiSearchLargeAssetsRequest) TrashedAfter(trashedAfter time.Time) ApiSearchLargeAssetsRequest {
	r.trashedAfter = &trashedAfter
	return r
}

// Filter by trash date (before)
func (r ApiSearchLargeAssetsRequest) TrashedBefore(trashedBefore time.Time) ApiSearchLargeAssetsRequest {
	r.trashedBefore = &trashedBefore
	return r
}

func (r ApiSearchLargeAssetsRequest) Type_(type_ AssetTypeEnum) ApiSearchLargeAssetsRequest {
	r.type_ = &type_
	return r
}

// Filter by update date (after)
func (r ApiSearchLargeAssetsRequest) UpdatedAfter(updatedAfter time.Time) ApiSearchLargeAssetsRequest {
	r.updatedAfter = &updatedAfter
	return r
}

// Filter by update date (before)
func (r ApiSearchLargeAssetsRequest) UpdatedBefore(updatedBefore time.Time) ApiSearchLargeAssetsRequest {
	r.updatedBefore = &updatedBefore
	return r
}

func (r ApiSearchLargeAssetsRequest) Visibility(visibility AssetVisibility) ApiSearchLargeAssetsRequest {
	r.visibility = &visibility
	return r
}

// Include deleted assets
func (r ApiSearchLargeAssetsRequest) WithDeleted(withDeleted bool) ApiSearchLargeAssetsRequest {
	r.withDeleted = &withDeleted
	return r
}

// Include EXIF data in response
func (r ApiSearchLargeAssetsRequest) WithExif(withExif bool) ApiSearchLargeAssetsRequest {
	r.withExif = &withExif
	return r
}

func (r ApiSearchLargeAssetsRequest) Execute() ([]AssetResponseDto, *http.Response, error) {
	return r.ApiService.SearchLargeAssetsExecute(r)
}

/*
SearchLargeAssets Search large assets

Search for assets that are considered large based on specified criteria.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchLargeAssetsRequest
*/
func (a *SearchAPIService) SearchLargeAssets(ctx context.Context) ApiSearchLargeAssetsRequest {
	return ApiSearchLargeAssetsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AssetResponseDto
func (a *SearchAPIService) SearchLargeAssetsExecute(r ApiSearchLargeAssetsRequest) ([]AssetResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AssetResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchLargeAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/large-assets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.albumIds != nil {
		t := *r.albumIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "albumIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "albumIds", t, "form", "multi")
		}
	}
	if r.city != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "city", r.city, "form", "")
	}
	if r.country != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "country", r.country, "form", "")
	}
	if r.createdAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdAfter", r.createdAfter, "form", "")
	}
	if r.createdBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdBefore", r.createdBefore, "form", "")
	}
	if r.isEncoded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isEncoded", r.isEncoded, "form", "")
	}
	if r.isFavorite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isFavorite", r.isFavorite, "form", "")
	}
	if r.isMotion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isMotion", r.isMotion, "form", "")
	}
	if r.isNotInAlbum != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isNotInAlbum", r.isNotInAlbum, "form", "")
	}
	if r.isOffline != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isOffline", r.isOffline, "form", "")
	}
	if r.lensModel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lensModel", r.lensModel, "form", "")
	}
	if r.libraryId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "libraryId", r.libraryId, "form", "")
	}
	if r.make != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "make", r.make, "form", "")
	}
	if r.minFileSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "minFileSize", r.minFileSize, "form", "")
	}
	if r.model != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "model", r.model, "form", "")
	}
	if r.ocr != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ocr", r.ocr, "form", "")
	}
	if r.personIds != nil {
		t := *r.personIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "personIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "personIds", t, "form", "multi")
		}
	}
	if r.rating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rating", r.rating, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.state != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "state", r.state, "form", "")
	}
	if r.tagIds != nil {
		t := *r.tagIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "tagIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "tagIds", t, "form", "multi")
		}
	}
	if r.takenAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "takenAfter", r.takenAfter, "form", "")
	}
	if r.takenBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "takenBefore", r.takenBefore, "form", "")
	}
	if r.trashedAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trashedAfter", r.trashedAfter, "form", "")
	}
	if r.trashedBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trashedBefore", r.trashedBefore, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.updatedAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updatedAfter", r.updatedAfter, "form", "")
	}
	if r.updatedBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updatedBefore", r.updatedBefore, "form", "")
	}
	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.withDeleted != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withDeleted", r.withDeleted, "form", "")
	}
	if r.withExif != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withExif", r.withExif, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchPersonRequest struct {
	ctx context.Context
	ApiService SearchAPI
	name *string
	withHidden *bool
}

// Person name to search for
func (r ApiSearchPersonRequest) Name(name string) ApiSearchPersonRequest {
	r.name = &name
	return r
}

// Include hidden people
func (r ApiSearchPersonRequest) WithHidden(withHidden bool) ApiSearchPersonRequest {
	r.withHidden = &withHidden
	return r
}

func (r ApiSearchPersonRequest) Execute() ([]PersonResponseDto, *http.Response, error) {
	return r.ApiService.SearchPersonExecute(r)
}

/*
SearchPerson Search people

Search for people by name.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchPersonRequest
*/
func (a *SearchAPIService) SearchPerson(ctx context.Context) ApiSearchPersonRequest {
	return ApiSearchPersonRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PersonResponseDto
func (a *SearchAPIService) SearchPersonExecute(r ApiSearchPersonRequest) ([]PersonResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PersonResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchPerson")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/person"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	if r.withHidden != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withHidden", r.withHidden, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchPlacesRequest struct {
	ctx context.Context
	ApiService SearchAPI
	name *string
}

// Place name to search for
func (r ApiSearchPlacesRequest) Name(name string) ApiSearchPlacesRequest {
	r.name = &name
	return r
}

func (r ApiSearchPlacesRequest) Execute() ([]PlacesResponseDto, *http.Response, error) {
	return r.ApiService.SearchPlacesExecute(r)
}

/*
SearchPlaces Search places

Search for places by name.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchPlacesRequest
*/
func (a *SearchAPIService) SearchPlaces(ctx context.Context) ApiSearchPlacesRequest {
	return ApiSearchPlacesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PlacesResponseDto
func (a *SearchAPIService) SearchPlacesExecute(r ApiSearchPlacesRequest) ([]PlacesResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PlacesResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchPlaces")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/places"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.name == nil {
		return localVarReturnValue, nil, reportError("name is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchRandomRequest struct {
	ctx context.Context
	ApiService SearchAPI
	randomSearchDto *RandomSearchDto
}

func (r ApiSearchRandomRequest) RandomSearchDto(randomSearchDto RandomSearchDto) ApiSearchRandomRequest {
	r.randomSearchDto = &randomSearchDto
	return r
}

func (r ApiSearchRandomRequest) Execute() ([]AssetResponseDto, *http.Response, error) {
	return r.ApiService.SearchRandomExecute(r)
}

/*
SearchRandom Search random assets

Retrieve a random selection of assets based on the provided criteria.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchRandomRequest
*/
func (a *SearchAPIService) SearchRandom(ctx context.Context) ApiSearchRandomRequest {
	return ApiSearchRandomRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AssetResponseDto
func (a *SearchAPIService) SearchRandomExecute(r ApiSearchRandomRequest) ([]AssetResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AssetResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchRandom")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/random"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.randomSearchDto == nil {
		return localVarReturnValue, nil, reportError("randomSearchDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.randomSearchDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchSmartRequest struct {
	ctx context.Context
	ApiService SearchAPI
	smartSearchDto *SmartSearchDto
}

func (r ApiSearchSmartRequest) SmartSearchDto(smartSearchDto SmartSearchDto) ApiSearchSmartRequest {
	r.smartSearchDto = &smartSearchDto
	return r
}

func (r ApiSearchSmartRequest) Execute() (*SearchResponseDto, *http.Response, error) {
	return r.ApiService.SearchSmartExecute(r)
}

/*
SearchSmart Smart asset search

Perform a smart search for assets by using machine learning vectors to determine relevance.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchSmartRequest
*/
func (a *SearchAPIService) SearchSmart(ctx context.Context) ApiSearchSmartRequest {
	return ApiSearchSmartRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SearchResponseDto
func (a *SearchAPIService) SearchSmartExecute(r ApiSearchSmartRequest) (*SearchResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SearchResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SearchAPIService.SearchSmart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/search/smart"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.smartSearchDto == nil {
		return localVarReturnValue, nil, reportError("smartSearchDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.smartSearchDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
