/*
Immich

Immich API

API version: 2.7.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package immich

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type SharedLinksAPI interface {

	/*
	AddSharedLinkAssets Add assets to a shared link

	Add assets to a specific shared link by its ID. This endpoint is only relevant for shared link of type individual.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiAddSharedLinkAssetsRequest
	*/
	AddSharedLinkAssets(ctx context.Context, id string) ApiAddSharedLinkAssetsRequest

	// AddSharedLinkAssetsExecute executes the request
	//  @return []AssetIdsResponseDto
	AddSharedLinkAssetsExecute(r ApiAddSharedLinkAssetsRequest) ([]AssetIdsResponseDto, *http.Response, error)

	/*
	CreateSharedLink Create a shared link

	Create a new shared link.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateSharedLinkRequest
	*/
	CreateSharedLink(ctx context.Context) ApiCreateSharedLinkRequest

	// CreateSharedLinkExecute executes the request
	//  @return SharedLinkResponseDto
	CreateSharedLinkExecute(r ApiCreateSharedLinkRequest) (*SharedLinkResponseDto, *http.Response, error)

	/*
	GetAllSharedLinks Retrieve all shared links

	Retrieve a list of all shared links.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetAllSharedLinksRequest
	*/
	GetAllSharedLinks(ctx context.Context) ApiGetAllSharedLinksRequest

	// GetAllSharedLinksExecute executes the request
	//  @return []SharedLinkResponseDto
	GetAllSharedLinksExecute(r ApiGetAllSharedLinksRequest) ([]SharedLinkResponseDto, *http.Response, error)

	/*
	GetMySharedLink Retrieve current shared link

	Retrieve the current shared link associated with authentication method.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetMySharedLinkRequest
	*/
	GetMySharedLink(ctx context.Context) ApiGetMySharedLinkRequest

	// GetMySharedLinkExecute executes the request
	//  @return SharedLinkResponseDto
	GetMySharedLinkExecute(r ApiGetMySharedLinkRequest) (*SharedLinkResponseDto, *http.Response, error)

	/*
	GetSharedLinkById Retrieve a shared link

	Retrieve a specific shared link by its ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetSharedLinkByIdRequest
	*/
	GetSharedLinkById(ctx context.Context, id string) ApiGetSharedLinkByIdRequest

	// GetSharedLinkByIdExecute executes the request
	//  @return SharedLinkResponseDto
	GetSharedLinkByIdExecute(r ApiGetSharedLinkByIdRequest) (*SharedLinkResponseDto, *http.Response, error)

	/*
	RemoveSharedLink Delete a shared link

	Delete a specific shared link by its ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiRemoveSharedLinkRequest
	*/
	RemoveSharedLink(ctx context.Context, id string) ApiRemoveSharedLinkRequest

	// RemoveSharedLinkExecute executes the request
	RemoveSharedLinkExecute(r ApiRemoveSharedLinkRequest) (*http.Response, error)

	/*
	RemoveSharedLinkAssets Remove assets from a shared link

	Remove assets from a specific shared link by its ID. This endpoint is only relevant for shared link of type individual.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiRemoveSharedLinkAssetsRequest
	*/
	RemoveSharedLinkAssets(ctx context.Context, id string) ApiRemoveSharedLinkAssetsRequest

	// RemoveSharedLinkAssetsExecute executes the request
	//  @return []AssetIdsResponseDto
	RemoveSharedLinkAssetsExecute(r ApiRemoveSharedLinkAssetsRequest) ([]AssetIdsResponseDto, *http.Response, error)

	/*
	SharedLinkLogin Shared link login

	Login to a password protected shared link

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSharedLinkLoginRequest
	*/
	SharedLinkLogin(ctx context.Context) ApiSharedLinkLoginRequest

	// SharedLinkLoginExecute executes the request
	//  @return SharedLinkResponseDto
	SharedLinkLoginExecute(r ApiSharedLinkLoginRequest) (*SharedLinkResponseDto, *http.Response, error)

	/*
	UpdateSharedLink Update a shared link

	Update an existing shared link by its ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiUpdateSharedLinkRequest
	*/
	UpdateSharedLink(ctx context.Context, id string) ApiUpdateSharedLinkRequest

	// UpdateSharedLinkExecute executes the request
	//  @return SharedLinkResponseDto
	UpdateSharedLinkExecute(r ApiUpdateSharedLinkRequest) (*SharedLinkResponseDto, *http.Response, error)
}

// SharedLinksAPIService SharedLinksAPI service
type SharedLinksAPIService service

type ApiAddSharedLinkAssetsRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	id string
	assetIdsDto *AssetIdsDto
}

func (r ApiAddSharedLinkAssetsRequest) AssetIdsDto(assetIdsDto AssetIdsDto) ApiAddSharedLinkAssetsRequest {
	r.assetIdsDto = &assetIdsDto
	return r
}

func (r ApiAddSharedLinkAssetsRequest) Execute() ([]AssetIdsResponseDto, *http.Response, error) {
	return r.ApiService.AddSharedLinkAssetsExecute(r)
}

/*
AddSharedLinkAssets Add assets to a shared link

Add assets to a specific shared link by its ID. This endpoint is only relevant for shared link of type individual.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAddSharedLinkAssetsRequest
*/
func (a *SharedLinksAPIService) AddSharedLinkAssets(ctx context.Context, id string) ApiAddSharedLinkAssetsRequest {
	return ApiAddSharedLinkAssetsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []AssetIdsResponseDto
func (a *SharedLinksAPIService) AddSharedLinkAssetsExecute(r ApiAddSharedLinkAssetsRequest) ([]AssetIdsResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AssetIdsResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.AddSharedLinkAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links/{id}/assets"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.assetIdsDto == nil {
		return localVarReturnValue, nil, reportError("assetIdsDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.assetIdsDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateSharedLinkRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	sharedLinkCreateDto *SharedLinkCreateDto
}

func (r ApiCreateSharedLinkRequest) SharedLinkCreateDto(sharedLinkCreateDto SharedLinkCreateDto) ApiCreateSharedLinkRequest {
	r.sharedLinkCreateDto = &sharedLinkCreateDto
	return r
}

func (r ApiCreateSharedLinkRequest) Execute() (*SharedLinkResponseDto, *http.Response, error) {
	return r.ApiService.CreateSharedLinkExecute(r)
}

/*
CreateSharedLink Create a shared link

Create a new shared link.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateSharedLinkRequest
*/
func (a *SharedLinksAPIService) CreateSharedLink(ctx context.Context) ApiCreateSharedLinkRequest {
	return ApiCreateSharedLinkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SharedLinkResponseDto
func (a *SharedLinksAPIService) CreateSharedLinkExecute(r ApiCreateSharedLinkRequest) (*SharedLinkResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SharedLinkResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.CreateSharedLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sharedLinkCreateDto == nil {
		return localVarReturnValue, nil, reportError("sharedLinkCreateDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.sharedLinkCreateDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetAllSharedLinksRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	albumId *string
	id *string
}

// Filter by album ID
func (r ApiGetAllSharedLinksRequest) AlbumId(albumId string) ApiGetAllSharedLinksRequest {
	r.albumId = &albumId
	return r
}

// Filter by shared link ID
func (r ApiGetAllSharedLinksRequest) Id(id string) ApiGetAllSharedLinksRequest {
	r.id = &id
	return r
}

func (r ApiGetAllSharedLinksRequest) Execute() ([]SharedLinkResponseDto, *http.Response, error) {
	return r.ApiService.GetAllSharedLinksExecute(r)
}

/*
GetAllSharedLinks Retrieve all shared links

Retrieve a list of all shared links.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetAllSharedLinksRequest
*/
func (a *SharedLinksAPIService) GetAllSharedLinks(ctx context.Context) ApiGetAllSharedLinksRequest {
	return ApiGetAllSharedLinksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SharedLinkResponseDto
func (a *SharedLinksAPIService) GetAllSharedLinksExecute(r ApiGetAllSharedLinksRequest) ([]SharedLinkResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SharedLinkResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.GetAllSharedLinks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.albumId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "albumId", r.albumId, "form", "")
	}
	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetMySharedLinkRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	key *string
	slug *string
}

func (r ApiGetMySharedLinkRequest) Key(key string) ApiGetMySharedLinkRequest {
	r.key = &key
	return r
}

func (r ApiGetMySharedLinkRequest) Slug(slug string) ApiGetMySharedLinkRequest {
	r.slug = &slug
	return r
}

func (r ApiGetMySharedLinkRequest) Execute() (*SharedLinkResponseDto, *http.Response, error) {
	return r.ApiService.GetMySharedLinkExecute(r)
}

/*
GetMySharedLink Retrieve current shared link

Retrieve the current shared link associated with authentication method.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMySharedLinkRequest
*/
func (a *SharedLinksAPIService) GetMySharedLink(ctx context.Context) ApiGetMySharedLinkRequest {
	return ApiGetMySharedLinkRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SharedLinkResponseDto
func (a *SharedLinksAPIService) GetMySharedLinkExecute(r ApiGetMySharedLinkRequest) (*SharedLinkResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SharedLinkResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.GetMySharedLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links/me"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	if r.slug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "slug", r.slug, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetSharedLinkByIdRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	id string
}

func (r ApiGetSharedLinkByIdRequest) Execute() (*SharedLinkResponseDto, *http.Response, error) {
	return r.ApiService.GetSharedLinkByIdExecute(r)
}

/*
GetSharedLinkById Retrieve a shared link

Retrieve a specific shared link by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetSharedLinkByIdRequest
*/
func (a *SharedLinksAPIService) GetSharedLinkById(ctx context.Context, id string) ApiGetSharedLinkByIdRequest {
	return ApiGetSharedLinkByIdRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SharedLinkResponseDto
func (a *SharedLinksAPIService) GetSharedLinkByIdExecute(r ApiGetSharedLinkByIdRequest) (*SharedLinkResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SharedLinkResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.GetSharedLinkById")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveSharedLinkRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	id string
}

func (r ApiRemoveSharedLinkRequest) Execute() (*http.Response, error) {
	return r.ApiService.RemoveSharedLinkExecute(r)
}

/*
RemoveSharedLink Delete a shared link

Delete a specific shared link by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiRemoveSharedLinkRequest
*/
func (a *SharedLinksAPIService) RemoveSharedLink(ctx context.Context, id string) ApiRemoveSharedLinkRequest {
	return ApiRemoveSharedLinkRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SharedLinksAPIService) RemoveSharedLinkExecute(r ApiRemoveSharedLinkRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.RemoveSharedLink")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiRemoveSharedLinkAssetsRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	id string
	assetIdsDto *AssetIdsDto
}

func (r ApiRemoveSharedLinkAssetsRequest) AssetIdsDto(assetIdsDto AssetIdsDto) ApiRemoveSharedLinkAssetsRequest {
	r.assetIdsDto = &assetIdsDto
	return r
}

func (r ApiRemoveSharedLinkAssetsRequest) Execute() ([]AssetIdsResponseDto, *http.Response, error) {
	return r.ApiService.RemoveSharedLinkAssetsExecute(r)
}

/*
RemoveSharedLinkAssets Remove assets from a shared link

Remove assets from a specific shared link by its ID. This endpoint is only relevant for shared link of type individual.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiRemoveSharedLinkAssetsRequest
*/
func (a *SharedLinksAPIService) RemoveSharedLinkAssets(ctx context.Context, id string) ApiRemoveSharedLinkAssetsRequest {
	return ApiRemoveSharedLinkAssetsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []AssetIdsResponseDto
func (a *SharedLinksAPIService) RemoveSharedLinkAssetsExecute(r ApiRemoveSharedLinkAssetsRequest) ([]AssetIdsResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AssetIdsResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.RemoveSharedLinkAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links/{id}/assets"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.assetIdsDto == nil {
		return localVarReturnValue, nil, reportError("assetIdsDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.assetIdsDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSharedLinkLoginRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	sharedLinkLoginDto *SharedLinkLoginDto
	key *string
	slug *string
}

func (r ApiSharedLinkLoginRequest) SharedLinkLoginDto(sharedLinkLoginDto SharedLinkLoginDto) ApiSharedLinkLoginRequest {
	r.sharedLinkLoginDto = &sharedLinkLoginDto
	return r
}

func (r ApiSharedLinkLoginRequest) Key(key string) ApiSharedLinkLoginRequest {
	r.key = &key
	return r
}

func (r ApiSharedLinkLoginRequest) Slug(slug string) ApiSharedLinkLoginRequest {
	r.slug = &slug
	return r
}

func (r ApiSharedLinkLoginRequest) Execute() (*SharedLinkResponseDto, *http.Response, error) {
	return r.ApiService.SharedLinkLoginExecute(r)
}

/*
SharedLinkLogin Shared link login

Login to a password protected shared link

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSharedLinkLoginRequest
*/
func (a *SharedLinksAPIService) SharedLinkLogin(ctx context.Context) ApiSharedLinkLoginRequest {
	return ApiSharedLinkLoginRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SharedLinkResponseDto
func (a *SharedLinksAPIService) SharedLinkLoginExecute(r ApiSharedLinkLoginRequest) (*SharedLinkResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SharedLinkResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.SharedLinkLogin")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links/login"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sharedLinkLoginDto == nil {
		return localVarReturnValue, nil, reportError("sharedLinkLoginDto is required and must be specified")
	}

	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	if r.slug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "slug", r.slug, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.sharedLinkLoginDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateSharedLinkRequest struct {
	ctx context.Context
	ApiService SharedLinksAPI
	id string
	sharedLinkEditDto *SharedLinkEditDto
}

func (r ApiUpdateSharedLinkRequest) SharedLinkEditDto(sharedLinkEditDto SharedLinkEditDto) ApiUpdateSharedLinkRequest {
	r.sharedLinkEditDto = &sharedLinkEditDto
	return r
}

func (r ApiUpdateSharedLinkRequest) Execute() (*SharedLinkResponseDto, *http.Response, error) {
	return r.ApiService.UpdateSharedLinkExecute(r)
}

/*
UpdateSharedLink Update a shared link

Update an existing shared link by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiUpdateSharedLinkRequest
*/
func (a *SharedLinksAPIService) UpdateSharedLink(ctx context.Context, id string) ApiUpdateSharedLinkRequest {
	return ApiUpdateSharedLinkRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SharedLinkResponseDto
func (a *SharedLinksAPIService) UpdateSharedLinkExecute(r ApiUpdateSharedLinkRequest) (*SharedLinkResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SharedLinkResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SharedLinksAPIService.UpdateSharedLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shared-links/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.sharedLinkEditDto == nil {
		return localVarReturnValue, nil, reportError("sharedLinkEditDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.sharedLinkEditDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
