/*
Immich

Immich API

API version: 2.7.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package immich

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


type MapAPI interface {

	/*
	GetMapMarkers Retrieve map markers

	Retrieve a list of latitude and longitude coordinates for every asset with location data.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetMapMarkersRequest
	*/
	GetMapMarkers(ctx context.Context) ApiGetMapMarkersRequest

	// GetMapMarkersExecute executes the request
	//  @return []MapMarkerResponseDto
	GetMapMarkersExecute(r ApiGetMapMarkersRequest) ([]MapMarkerResponseDto, *http.Response, error)

	/*
	ReverseGeocode Reverse geocode coordinates

	Retrieve location information (e.g., city, country) for given latitude and longitude coordinates.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiReverseGeocodeRequest
	*/
	ReverseGeocode(ctx context.Context) ApiReverseGeocodeRequest

	// ReverseGeocodeExecute executes the request
	//  @return []MapReverseGeocodeResponseDto
	ReverseGeocodeExecute(r ApiReverseGeocodeRequest) ([]MapReverseGeocodeResponseDto, *http.Response, error)
}

// MapAPIService MapAPI service
type MapAPIService service

type ApiGetMapMarkersRequest struct {
	ctx context.Context
	ApiService MapAPI
	fileCreatedAfter *time.Time
	fileCreatedBefore *time.Time
	isArchived *bool
	isFavorite *bool
	withPartners *bool
	withSharedAlbums *bool
}

// Filter assets created after this date
func (r ApiGetMapMarkersRequest) FileCreatedAfter(fileCreatedAfter time.Time) ApiGetMapMarkersRequest {
	r.fileCreatedAfter = &fileCreatedAfter
	return r
}

// Filter assets created before this date
func (r ApiGetMapMarkersRequest) FileCreatedBefore(fileCreatedBefore time.Time) ApiGetMapMarkersRequest {
	r.fileCreatedBefore = &fileCreatedBefore
	return r
}

// Filter by archived status
func (r ApiGetMapMarkersRequest) IsArchived(isArchived bool) ApiGetMapMarkersRequest {
	r.isArchived = &isArchived
	return r
}

// Filter by favorite status
func (r ApiGetMapMarkersRequest) IsFavorite(isFavorite bool) ApiGetMapMarkersRequest {
	r.isFavorite = &isFavorite
	return r
}

// Include partner assets
func (r ApiGetMapMarkersRequest) WithPartners(withPartners bool) ApiGetMapMarkersRequest {
	r.withPartners = &withPartners
	return r
}

// Include shared album assets
func (r ApiGetMapMarkersRequest) WithSharedAlbums(withSharedAlbums bool) ApiGetMapMarkersRequest {
	r.withSharedAlbums = &withSharedAlbums
	return r
}

func (r ApiGetMapMarkersRequest) Execute() ([]MapMarkerResponseDto, *http.Response, error) {
	return r.ApiService.GetMapMarkersExecute(r)
}

/*
GetMapMarkers Retrieve map markers

Retrieve a list of latitude and longitude coordinates for every asset with location data.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetMapMarkersRequest
*/
func (a *MapAPIService) GetMapMarkers(ctx context.Context) ApiGetMapMarkersRequest {
	return ApiGetMapMarkersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []MapMarkerResponseDto
func (a *MapAPIService) GetMapMarkersExecute(r ApiGetMapMarkersRequest) ([]MapMarkerResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []MapMarkerResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MapAPIService.GetMapMarkers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/map/markers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fileCreatedAfter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fileCreatedAfter", r.fileCreatedAfter, "form", "")
	}
	if r.fileCreatedBefore != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fileCreatedBefore", r.fileCreatedBefore, "form", "")
	}
	if r.isArchived != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isArchived", r.isArchived, "form", "")
	}
	if r.isFavorite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isFavorite", r.isFavorite, "form", "")
	}
	if r.withPartners != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withPartners", r.withPartners, "form", "")
	}
	if r.withSharedAlbums != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withSharedAlbums", r.withSharedAlbums, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReverseGeocodeRequest struct {
	ctx context.Context
	ApiService MapAPI
	lat *float64
	lon *float64
}

// Latitude (-90 to 90)
func (r ApiReverseGeocodeRequest) Lat(lat float64) ApiReverseGeocodeRequest {
	r.lat = &lat
	return r
}

// Longitude (-180 to 180)
func (r ApiReverseGeocodeRequest) Lon(lon float64) ApiReverseGeocodeRequest {
	r.lon = &lon
	return r
}

func (r ApiReverseGeocodeRequest) Execute() ([]MapReverseGeocodeResponseDto, *http.Response, error) {
	return r.ApiService.ReverseGeocodeExecute(r)
}

/*
ReverseGeocode Reverse geocode coordinates

Retrieve location information (e.g., city, country) for given latitude and longitude coordinates.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReverseGeocodeRequest
*/
func (a *MapAPIService) ReverseGeocode(ctx context.Context) ApiReverseGeocodeRequest {
	return ApiReverseGeocodeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []MapReverseGeocodeResponseDto
func (a *MapAPIService) ReverseGeocodeExecute(r ApiReverseGeocodeRequest) ([]MapReverseGeocodeResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []MapReverseGeocodeResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MapAPIService.ReverseGeocode")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/map/reverse-geocode"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.lat == nil {
		return localVarReturnValue, nil, reportError("lat is required and must be specified")
	}
	if r.lon == nil {
		return localVarReturnValue, nil, reportError("lon is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "lat", r.lat, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "lon", r.lon, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
