/*
Immich

Immich API

API version: 3.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package immich

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type AuthenticationAdminAPI interface {

	/*
	UnlinkAllOAuthAccountsAdmin Unlink all OAuth accounts

	Unlinks all OAuth accounts associated with user accounts in the system.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiUnlinkAllOAuthAccountsAdminRequest
	*/
	UnlinkAllOAuthAccountsAdmin(ctx context.Context) ApiUnlinkAllOAuthAccountsAdminRequest

	// UnlinkAllOAuthAccountsAdminExecute executes the request
	UnlinkAllOAuthAccountsAdminExecute(r ApiUnlinkAllOAuthAccountsAdminRequest) (*http.Response, error)
}

// AuthenticationAdminAPIService AuthenticationAdminAPI service
type AuthenticationAdminAPIService service

type ApiUnlinkAllOAuthAccountsAdminRequest struct {
	ctx context.Context
	ApiService AuthenticationAdminAPI
}

func (r ApiUnlinkAllOAuthAccountsAdminRequest) Execute() (*http.Response, error) {
	return r.ApiService.UnlinkAllOAuthAccountsAdminExecute(r)
}

/*
UnlinkAllOAuthAccountsAdmin Unlink all OAuth accounts

Unlinks all OAuth accounts associated with user accounts in the system.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUnlinkAllOAuthAccountsAdminRequest
*/
func (a *AuthenticationAdminAPIService) UnlinkAllOAuthAccountsAdmin(ctx context.Context) ApiUnlinkAllOAuthAccountsAdminRequest {
	return ApiUnlinkAllOAuthAccountsAdminRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *AuthenticationAdminAPIService) UnlinkAllOAuthAccountsAdminExecute(r ApiUnlinkAllOAuthAccountsAdminRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AuthenticationAdminAPIService.UnlinkAllOAuthAccountsAdmin")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/admin/auth/unlink-all"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
