/*
Immich

Immich API

API version: 3.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package immich

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


type MemoriesAPI interface {

	/*
	AddMemoryAssets Add assets to a memory

	Add a list of asset IDs to a specific memory.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiAddMemoryAssetsRequest
	*/
	AddMemoryAssets(ctx context.Context, id string) ApiAddMemoryAssetsRequest

	// AddMemoryAssetsExecute executes the request
	//  @return []BulkIdResponseDto
	AddMemoryAssetsExecute(r ApiAddMemoryAssetsRequest) ([]BulkIdResponseDto, *http.Response, error)

	/*
	CreateMemory Create a memory

	Create a new memory by providing a name, description, and a list of asset IDs to include in the memory.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiCreateMemoryRequest
	*/
	CreateMemory(ctx context.Context) ApiCreateMemoryRequest

	// CreateMemoryExecute executes the request
	//  @return MemoryResponseDto
	CreateMemoryExecute(r ApiCreateMemoryRequest) (*MemoryResponseDto, *http.Response, error)

	/*
	DeleteMemory Delete a memory

	Delete a specific memory by its ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiDeleteMemoryRequest
	*/
	DeleteMemory(ctx context.Context, id string) ApiDeleteMemoryRequest

	// DeleteMemoryExecute executes the request
	DeleteMemoryExecute(r ApiDeleteMemoryRequest) (*http.Response, error)

	/*
	GetMemory Retrieve a memory

	Retrieve a specific memory by its ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiGetMemoryRequest
	*/
	GetMemory(ctx context.Context, id string) ApiGetMemoryRequest

	// GetMemoryExecute executes the request
	//  @return MemoryResponseDto
	GetMemoryExecute(r ApiGetMemoryRequest) (*MemoryResponseDto, *http.Response, error)

	/*
	MemoriesStatistics Retrieve memories statistics

	Retrieve statistics about memories, such as total count and other relevant metrics.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiMemoriesStatisticsRequest
	*/
	MemoriesStatistics(ctx context.Context) ApiMemoriesStatisticsRequest

	// MemoriesStatisticsExecute executes the request
	//  @return MemoryStatisticsResponseDto
	MemoriesStatisticsExecute(r ApiMemoriesStatisticsRequest) (*MemoryStatisticsResponseDto, *http.Response, error)

	/*
	RemoveMemoryAssets Remove assets from a memory

	Remove a list of asset IDs from a specific memory.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiRemoveMemoryAssetsRequest
	*/
	RemoveMemoryAssets(ctx context.Context, id string) ApiRemoveMemoryAssetsRequest

	// RemoveMemoryAssetsExecute executes the request
	//  @return []BulkIdResponseDto
	RemoveMemoryAssetsExecute(r ApiRemoveMemoryAssetsRequest) ([]BulkIdResponseDto, *http.Response, error)

	/*
	SearchMemories Retrieve memories

	Retrieve a list of memories. Memories are sorted descending by creation date by default, although they can also be sorted in ascending order, or randomly.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiSearchMemoriesRequest
	*/
	SearchMemories(ctx context.Context) ApiSearchMemoriesRequest

	// SearchMemoriesExecute executes the request
	//  @return []MemoryResponseDto
	SearchMemoriesExecute(r ApiSearchMemoriesRequest) ([]MemoryResponseDto, *http.Response, error)

	/*
	UpdateMemory Update a memory

	Update an existing memory by its ID.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id
	@return ApiUpdateMemoryRequest
	*/
	UpdateMemory(ctx context.Context, id string) ApiUpdateMemoryRequest

	// UpdateMemoryExecute executes the request
	//  @return MemoryResponseDto
	UpdateMemoryExecute(r ApiUpdateMemoryRequest) (*MemoryResponseDto, *http.Response, error)
}

// MemoriesAPIService MemoriesAPI service
type MemoriesAPIService service

type ApiAddMemoryAssetsRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	id string
	bulkIdsDto *BulkIdsDto
}

func (r ApiAddMemoryAssetsRequest) BulkIdsDto(bulkIdsDto BulkIdsDto) ApiAddMemoryAssetsRequest {
	r.bulkIdsDto = &bulkIdsDto
	return r
}

func (r ApiAddMemoryAssetsRequest) Execute() ([]BulkIdResponseDto, *http.Response, error) {
	return r.ApiService.AddMemoryAssetsExecute(r)
}

/*
AddMemoryAssets Add assets to a memory

Add a list of asset IDs to a specific memory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAddMemoryAssetsRequest
*/
func (a *MemoriesAPIService) AddMemoryAssets(ctx context.Context, id string) ApiAddMemoryAssetsRequest {
	return ApiAddMemoryAssetsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []BulkIdResponseDto
func (a *MemoriesAPIService) AddMemoryAssetsExecute(r ApiAddMemoryAssetsRequest) ([]BulkIdResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []BulkIdResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.AddMemoryAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories/{id}/assets"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkIdsDto == nil {
		return localVarReturnValue, nil, reportError("bulkIdsDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkIdsDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCreateMemoryRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	memoryCreateDto *MemoryCreateDto
}

func (r ApiCreateMemoryRequest) MemoryCreateDto(memoryCreateDto MemoryCreateDto) ApiCreateMemoryRequest {
	r.memoryCreateDto = &memoryCreateDto
	return r
}

func (r ApiCreateMemoryRequest) Execute() (*MemoryResponseDto, *http.Response, error) {
	return r.ApiService.CreateMemoryExecute(r)
}

/*
CreateMemory Create a memory

Create a new memory by providing a name, description, and a list of asset IDs to include in the memory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCreateMemoryRequest
*/
func (a *MemoriesAPIService) CreateMemory(ctx context.Context) ApiCreateMemoryRequest {
	return ApiCreateMemoryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MemoryResponseDto
func (a *MemoriesAPIService) CreateMemoryExecute(r ApiCreateMemoryRequest) (*MemoryResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MemoryResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.CreateMemory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.memoryCreateDto == nil {
		return localVarReturnValue, nil, reportError("memoryCreateDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.memoryCreateDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeleteMemoryRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	id string
}

func (r ApiDeleteMemoryRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteMemoryExecute(r)
}

/*
DeleteMemory Delete a memory

Delete a specific memory by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiDeleteMemoryRequest
*/
func (a *MemoriesAPIService) DeleteMemory(ctx context.Context, id string) ApiDeleteMemoryRequest {
	return ApiDeleteMemoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *MemoriesAPIService) DeleteMemoryExecute(r ApiDeleteMemoryRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.DeleteMemory")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiGetMemoryRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	id string
}

func (r ApiGetMemoryRequest) Execute() (*MemoryResponseDto, *http.Response, error) {
	return r.ApiService.GetMemoryExecute(r)
}

/*
GetMemory Retrieve a memory

Retrieve a specific memory by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiGetMemoryRequest
*/
func (a *MemoriesAPIService) GetMemory(ctx context.Context, id string) ApiGetMemoryRequest {
	return ApiGetMemoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return MemoryResponseDto
func (a *MemoriesAPIService) GetMemoryExecute(r ApiGetMemoryRequest) (*MemoryResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MemoryResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.GetMemory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiMemoriesStatisticsRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	for_ *time.Time
	isSaved *bool
	isTrashed *bool
	order *MemorySearchOrder
	size *int32
	type_ *MemoryType
}

// Filter by date
func (r ApiMemoriesStatisticsRequest) For_(for_ time.Time) ApiMemoriesStatisticsRequest {
	r.for_ = &for_
	return r
}

// Filter by saved status
func (r ApiMemoriesStatisticsRequest) IsSaved(isSaved bool) ApiMemoriesStatisticsRequest {
	r.isSaved = &isSaved
	return r
}

// Include trashed memories
func (r ApiMemoriesStatisticsRequest) IsTrashed(isTrashed bool) ApiMemoriesStatisticsRequest {
	r.isTrashed = &isTrashed
	return r
}

func (r ApiMemoriesStatisticsRequest) Order(order MemorySearchOrder) ApiMemoriesStatisticsRequest {
	r.order = &order
	return r
}

// Number of memories to return
func (r ApiMemoriesStatisticsRequest) Size(size int32) ApiMemoriesStatisticsRequest {
	r.size = &size
	return r
}

func (r ApiMemoriesStatisticsRequest) Type_(type_ MemoryType) ApiMemoriesStatisticsRequest {
	r.type_ = &type_
	return r
}

func (r ApiMemoriesStatisticsRequest) Execute() (*MemoryStatisticsResponseDto, *http.Response, error) {
	return r.ApiService.MemoriesStatisticsExecute(r)
}

/*
MemoriesStatistics Retrieve memories statistics

Retrieve statistics about memories, such as total count and other relevant metrics.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiMemoriesStatisticsRequest
*/
func (a *MemoriesAPIService) MemoriesStatistics(ctx context.Context) ApiMemoriesStatisticsRequest {
	return ApiMemoriesStatisticsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return MemoryStatisticsResponseDto
func (a *MemoriesAPIService) MemoriesStatisticsExecute(r ApiMemoriesStatisticsRequest) (*MemoryStatisticsResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MemoryStatisticsResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.MemoriesStatistics")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories/statistics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.for_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "for", r.for_, "form", "")
	}
	if r.isSaved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isSaved", r.isSaved, "form", "")
	}
	if r.isTrashed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isTrashed", r.isTrashed, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiRemoveMemoryAssetsRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	id string
	bulkIdsDto *BulkIdsDto
}

func (r ApiRemoveMemoryAssetsRequest) BulkIdsDto(bulkIdsDto BulkIdsDto) ApiRemoveMemoryAssetsRequest {
	r.bulkIdsDto = &bulkIdsDto
	return r
}

func (r ApiRemoveMemoryAssetsRequest) Execute() ([]BulkIdResponseDto, *http.Response, error) {
	return r.ApiService.RemoveMemoryAssetsExecute(r)
}

/*
RemoveMemoryAssets Remove assets from a memory

Remove a list of asset IDs from a specific memory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiRemoveMemoryAssetsRequest
*/
func (a *MemoriesAPIService) RemoveMemoryAssets(ctx context.Context, id string) ApiRemoveMemoryAssetsRequest {
	return ApiRemoveMemoryAssetsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []BulkIdResponseDto
func (a *MemoriesAPIService) RemoveMemoryAssetsExecute(r ApiRemoveMemoryAssetsRequest) ([]BulkIdResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []BulkIdResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.RemoveMemoryAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories/{id}/assets"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.bulkIdsDto == nil {
		return localVarReturnValue, nil, reportError("bulkIdsDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.bulkIdsDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSearchMemoriesRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	for_ *time.Time
	isSaved *bool
	isTrashed *bool
	order *MemorySearchOrder
	size *int32
	type_ *MemoryType
}

// Filter by date
func (r ApiSearchMemoriesRequest) For_(for_ time.Time) ApiSearchMemoriesRequest {
	r.for_ = &for_
	return r
}

// Filter by saved status
func (r ApiSearchMemoriesRequest) IsSaved(isSaved bool) ApiSearchMemoriesRequest {
	r.isSaved = &isSaved
	return r
}

// Include trashed memories
func (r ApiSearchMemoriesRequest) IsTrashed(isTrashed bool) ApiSearchMemoriesRequest {
	r.isTrashed = &isTrashed
	return r
}

func (r ApiSearchMemoriesRequest) Order(order MemorySearchOrder) ApiSearchMemoriesRequest {
	r.order = &order
	return r
}

// Number of memories to return
func (r ApiSearchMemoriesRequest) Size(size int32) ApiSearchMemoriesRequest {
	r.size = &size
	return r
}

func (r ApiSearchMemoriesRequest) Type_(type_ MemoryType) ApiSearchMemoriesRequest {
	r.type_ = &type_
	return r
}

func (r ApiSearchMemoriesRequest) Execute() ([]MemoryResponseDto, *http.Response, error) {
	return r.ApiService.SearchMemoriesExecute(r)
}

/*
SearchMemories Retrieve memories

Retrieve a list of memories. Memories are sorted descending by creation date by default, although they can also be sorted in ascending order, or randomly.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSearchMemoriesRequest
*/
func (a *MemoriesAPIService) SearchMemories(ctx context.Context) ApiSearchMemoriesRequest {
	return ApiSearchMemoriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []MemoryResponseDto
func (a *MemoriesAPIService) SearchMemoriesExecute(r ApiSearchMemoriesRequest) ([]MemoryResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []MemoryResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.SearchMemories")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.for_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "for", r.for_, "form", "")
	}
	if r.isSaved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isSaved", r.isSaved, "form", "")
	}
	if r.isTrashed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isTrashed", r.isTrashed, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.size != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "size", r.size, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUpdateMemoryRequest struct {
	ctx context.Context
	ApiService MemoriesAPI
	id string
	memoryUpdateDto *MemoryUpdateDto
}

func (r ApiUpdateMemoryRequest) MemoryUpdateDto(memoryUpdateDto MemoryUpdateDto) ApiUpdateMemoryRequest {
	r.memoryUpdateDto = &memoryUpdateDto
	return r
}

func (r ApiUpdateMemoryRequest) Execute() (*MemoryResponseDto, *http.Response, error) {
	return r.ApiService.UpdateMemoryExecute(r)
}

/*
UpdateMemory Update a memory

Update an existing memory by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiUpdateMemoryRequest
*/
func (a *MemoriesAPIService) UpdateMemory(ctx context.Context, id string) ApiUpdateMemoryRequest {
	return ApiUpdateMemoryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return MemoryResponseDto
func (a *MemoriesAPIService) UpdateMemoryExecute(r ApiUpdateMemoryRequest) (*MemoryResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *MemoryResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "MemoriesAPIService.UpdateMemory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/memories/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.memoryUpdateDto == nil {
		return localVarReturnValue, nil, reportError("memoryUpdateDto is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.memoryUpdateDto
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
