/*
Immich

Immich API

API version: 2.7.5
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package immich

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


type TimelineAPI interface {

	/*
	GetTimeBucket Get time bucket

	Retrieve a string of all asset ids in a given time bucket.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTimeBucketRequest
	*/
	GetTimeBucket(ctx context.Context) ApiGetTimeBucketRequest

	// GetTimeBucketExecute executes the request
	//  @return TimeBucketAssetResponseDto
	GetTimeBucketExecute(r ApiGetTimeBucketRequest) (*TimeBucketAssetResponseDto, *http.Response, error)

	/*
	GetTimeBuckets Get time buckets

	Retrieve a list of all minimal time buckets.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return ApiGetTimeBucketsRequest
	*/
	GetTimeBuckets(ctx context.Context) ApiGetTimeBucketsRequest

	// GetTimeBucketsExecute executes the request
	//  @return []TimeBucketsResponseDto
	GetTimeBucketsExecute(r ApiGetTimeBucketsRequest) ([]TimeBucketsResponseDto, *http.Response, error)
}

// TimelineAPIService TimelineAPI service
type TimelineAPIService service

type ApiGetTimeBucketRequest struct {
	ctx context.Context
	ApiService TimelineAPI
	timeBucket *string
	albumId *string
	bbox *string
	isFavorite *bool
	isTrashed *bool
	key *string
	order *AssetOrder
	personId *string
	slug *string
	tagId *string
	userId *string
	visibility *AssetVisibility
	withCoordinates *bool
	withPartners *bool
	withStacked *bool
}

// Time bucket identifier in YYYY-MM-DD format
func (r ApiGetTimeBucketRequest) TimeBucket(timeBucket string) ApiGetTimeBucketRequest {
	r.timeBucket = &timeBucket
	return r
}

// Filter assets belonging to a specific album
func (r ApiGetTimeBucketRequest) AlbumId(albumId string) ApiGetTimeBucketRequest {
	r.albumId = &albumId
	return r
}

// Bounding box coordinates as west,south,east,north (WGS84)
func (r ApiGetTimeBucketRequest) Bbox(bbox string) ApiGetTimeBucketRequest {
	r.bbox = &bbox
	return r
}

// Filter by favorite status (true for favorites only, false for non-favorites only)
func (r ApiGetTimeBucketRequest) IsFavorite(isFavorite bool) ApiGetTimeBucketRequest {
	r.isFavorite = &isFavorite
	return r
}

// Filter by trash status (true for trashed assets only, false for non-trashed only)
func (r ApiGetTimeBucketRequest) IsTrashed(isTrashed bool) ApiGetTimeBucketRequest {
	r.isTrashed = &isTrashed
	return r
}

func (r ApiGetTimeBucketRequest) Key(key string) ApiGetTimeBucketRequest {
	r.key = &key
	return r
}

// Sort order for assets within time buckets (ASC for oldest first, DESC for newest first)
func (r ApiGetTimeBucketRequest) Order(order AssetOrder) ApiGetTimeBucketRequest {
	r.order = &order
	return r
}

// Filter assets containing a specific person (face recognition)
func (r ApiGetTimeBucketRequest) PersonId(personId string) ApiGetTimeBucketRequest {
	r.personId = &personId
	return r
}

func (r ApiGetTimeBucketRequest) Slug(slug string) ApiGetTimeBucketRequest {
	r.slug = &slug
	return r
}

// Filter assets with a specific tag
func (r ApiGetTimeBucketRequest) TagId(tagId string) ApiGetTimeBucketRequest {
	r.tagId = &tagId
	return r
}

// Filter assets by specific user ID
func (r ApiGetTimeBucketRequest) UserId(userId string) ApiGetTimeBucketRequest {
	r.userId = &userId
	return r
}

// Filter by asset visibility status (ARCHIVE, TIMELINE, HIDDEN, LOCKED)
func (r ApiGetTimeBucketRequest) Visibility(visibility AssetVisibility) ApiGetTimeBucketRequest {
	r.visibility = &visibility
	return r
}

// Include location data in the response
func (r ApiGetTimeBucketRequest) WithCoordinates(withCoordinates bool) ApiGetTimeBucketRequest {
	r.withCoordinates = &withCoordinates
	return r
}

// Include assets shared by partners
func (r ApiGetTimeBucketRequest) WithPartners(withPartners bool) ApiGetTimeBucketRequest {
	r.withPartners = &withPartners
	return r
}

// Include stacked assets in the response. When true, only primary assets from stacks are returned.
func (r ApiGetTimeBucketRequest) WithStacked(withStacked bool) ApiGetTimeBucketRequest {
	r.withStacked = &withStacked
	return r
}

func (r ApiGetTimeBucketRequest) Execute() (*TimeBucketAssetResponseDto, *http.Response, error) {
	return r.ApiService.GetTimeBucketExecute(r)
}

/*
GetTimeBucket Get time bucket

Retrieve a string of all asset ids in a given time bucket.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTimeBucketRequest
*/
func (a *TimelineAPIService) GetTimeBucket(ctx context.Context) ApiGetTimeBucketRequest {
	return ApiGetTimeBucketRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TimeBucketAssetResponseDto
func (a *TimelineAPIService) GetTimeBucketExecute(r ApiGetTimeBucketRequest) (*TimeBucketAssetResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TimeBucketAssetResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TimelineAPIService.GetTimeBucket")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timeline/bucket"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.timeBucket == nil {
		return localVarReturnValue, nil, reportError("timeBucket is required and must be specified")
	}

	if r.albumId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "albumId", r.albumId, "form", "")
	}
	if r.bbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bbox", r.bbox, "form", "")
	}
	if r.isFavorite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isFavorite", r.isFavorite, "form", "")
	}
	if r.isTrashed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isTrashed", r.isTrashed, "form", "")
	}
	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.personId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "personId", r.personId, "form", "")
	}
	if r.slug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "slug", r.slug, "form", "")
	}
	if r.tagId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagId", r.tagId, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "timeBucket", r.timeBucket, "form", "")
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.withCoordinates != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withCoordinates", r.withCoordinates, "form", "")
	}
	if r.withPartners != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withPartners", r.withPartners, "form", "")
	}
	if r.withStacked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withStacked", r.withStacked, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGetTimeBucketsRequest struct {
	ctx context.Context
	ApiService TimelineAPI
	albumId *string
	bbox *string
	isFavorite *bool
	isTrashed *bool
	key *string
	order *AssetOrder
	personId *string
	slug *string
	tagId *string
	userId *string
	visibility *AssetVisibility
	withCoordinates *bool
	withPartners *bool
	withStacked *bool
}

// Filter assets belonging to a specific album
func (r ApiGetTimeBucketsRequest) AlbumId(albumId string) ApiGetTimeBucketsRequest {
	r.albumId = &albumId
	return r
}

// Bounding box coordinates as west,south,east,north (WGS84)
func (r ApiGetTimeBucketsRequest) Bbox(bbox string) ApiGetTimeBucketsRequest {
	r.bbox = &bbox
	return r
}

// Filter by favorite status (true for favorites only, false for non-favorites only)
func (r ApiGetTimeBucketsRequest) IsFavorite(isFavorite bool) ApiGetTimeBucketsRequest {
	r.isFavorite = &isFavorite
	return r
}

// Filter by trash status (true for trashed assets only, false for non-trashed only)
func (r ApiGetTimeBucketsRequest) IsTrashed(isTrashed bool) ApiGetTimeBucketsRequest {
	r.isTrashed = &isTrashed
	return r
}

func (r ApiGetTimeBucketsRequest) Key(key string) ApiGetTimeBucketsRequest {
	r.key = &key
	return r
}

// Sort order for assets within time buckets (ASC for oldest first, DESC for newest first)
func (r ApiGetTimeBucketsRequest) Order(order AssetOrder) ApiGetTimeBucketsRequest {
	r.order = &order
	return r
}

// Filter assets containing a specific person (face recognition)
func (r ApiGetTimeBucketsRequest) PersonId(personId string) ApiGetTimeBucketsRequest {
	r.personId = &personId
	return r
}

func (r ApiGetTimeBucketsRequest) Slug(slug string) ApiGetTimeBucketsRequest {
	r.slug = &slug
	return r
}

// Filter assets with a specific tag
func (r ApiGetTimeBucketsRequest) TagId(tagId string) ApiGetTimeBucketsRequest {
	r.tagId = &tagId
	return r
}

// Filter assets by specific user ID
func (r ApiGetTimeBucketsRequest) UserId(userId string) ApiGetTimeBucketsRequest {
	r.userId = &userId
	return r
}

// Filter by asset visibility status (ARCHIVE, TIMELINE, HIDDEN, LOCKED)
func (r ApiGetTimeBucketsRequest) Visibility(visibility AssetVisibility) ApiGetTimeBucketsRequest {
	r.visibility = &visibility
	return r
}

// Include location data in the response
func (r ApiGetTimeBucketsRequest) WithCoordinates(withCoordinates bool) ApiGetTimeBucketsRequest {
	r.withCoordinates = &withCoordinates
	return r
}

// Include assets shared by partners
func (r ApiGetTimeBucketsRequest) WithPartners(withPartners bool) ApiGetTimeBucketsRequest {
	r.withPartners = &withPartners
	return r
}

// Include stacked assets in the response. When true, only primary assets from stacks are returned.
func (r ApiGetTimeBucketsRequest) WithStacked(withStacked bool) ApiGetTimeBucketsRequest {
	r.withStacked = &withStacked
	return r
}

func (r ApiGetTimeBucketsRequest) Execute() ([]TimeBucketsResponseDto, *http.Response, error) {
	return r.ApiService.GetTimeBucketsExecute(r)
}

/*
GetTimeBuckets Get time buckets

Retrieve a list of all minimal time buckets.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetTimeBucketsRequest
*/
func (a *TimelineAPIService) GetTimeBuckets(ctx context.Context) ApiGetTimeBucketsRequest {
	return ApiGetTimeBucketsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []TimeBucketsResponseDto
func (a *TimelineAPIService) GetTimeBucketsExecute(r ApiGetTimeBucketsRequest) ([]TimeBucketsResponseDto, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TimeBucketsResponseDto
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TimelineAPIService.GetTimeBuckets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/timeline/buckets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.albumId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "albumId", r.albumId, "form", "")
	}
	if r.bbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bbox", r.bbox, "form", "")
	}
	if r.isFavorite != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isFavorite", r.isFavorite, "form", "")
	}
	if r.isTrashed != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isTrashed", r.isTrashed, "form", "")
	}
	if r.key != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "key", r.key, "form", "")
	}
	if r.order != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "order", r.order, "form", "")
	}
	if r.personId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "personId", r.personId, "form", "")
	}
	if r.slug != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "slug", r.slug, "form", "")
	}
	if r.tagId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagId", r.tagId, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.visibility != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "visibility", r.visibility, "form", "")
	}
	if r.withCoordinates != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withCoordinates", r.withCoordinates, "form", "")
	}
	if r.withPartners != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withPartners", r.withPartners, "form", "")
	}
	if r.withStacked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "withStacked", r.withStacked, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["api_key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["x-api-key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
